! https://wiki.archlinux.org/title/HiDPI_(%E7%AE%80%E4%BD%93%E4%B8%AD%E6%96%87)
! 设置字体分辨率
!Xft.dpi:96
Xft.dpi: 170.0
!Xft.dpi: 130.0
Xft.antialias:1
Xft.hinting:1
Xft.autohint:1
Xft.hintstyle:hintslight
!Xft.hintstyle:  hintfull
Xft.rgba:rgb
Xft.lcdfilter:lcddefault
! rofi.dpi: 120

!!=============================================================================
!! RXVT-unicode setting
!! ubuntu 安装 sudo apt-get install rxvt-unicode
!!=============================================================================
!设置字体，其中的"14"代表字号大小
URxvt.font:-misc-fixed-medium-r-normal--34-*-*-*-*-*-iso10646-1,xft:WenQuanYi Bitmap Song:size=12 
!颜色
URxvt.background:gray
URxvt.foreground:white
URxvt.colorBD:yellow
URxvt.colorUL:green
!滚动条
URxvt.scrollBar:True
URxvt.scrollBar_right:True
URxvt.scrollBar_floating: False
URxvt.scrollstyle:plain
!屏幕缓冲
URxvt.saveLines:10000
URxvt.color12:DodgerBlue
URxvt.menu:/etc/X11/rxvt.menu
URxvt.preeditType:Root
!输入法设置
!inputMethod:xim

URxvt.transparent: true
URxvt.shading: 20
